*{
    font-family: 'Roboto';
    font-style: normal;
}

.body{
    width: 1280px;
    margin: 0 auto;
}

/* header */
.header_a{
text-decoration: none;
}

.logo{
width: 334px;
height: 79px;
left: 0px;
top: 0px;

margin-bottom: 38px;

font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;

text-align: center;
color: #000;   
}
.logo_span_1{
    color: #4BCAFF; 
}

.header_ul{  
height: 72px;
left: 0px;
top: 117px;
display: flex;

list-style-type: none;
justify-content: center;

background: #35444F;
}

.header_li_2{
font-weight: 400;
font-size: 24px;
line-height: 28px;
background: #35444F;
border-left: 1px solid #FFFFFF;

    padding-top: 26px;
    padding-right: 33px;
    padding-bottom: 19px;
    padding-left: 32px;
   
color: #FFFFFF;
}
.header_li_2:hover{
   background-color: #222F3A; 
}

.header_li_3{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

     padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 19px;
    padding-left: 37px;
    
    border-left: 1px solid #FFFFFF;
   
    color: #FFFFFF;
}

.header_li_3:hover{
    background-color: #222F3A;
}

.header_li_4{
font-weight: 400;
font-size: 24px;
line-height: 28px;

padding-top: 26px;
padding-right: 40px;
padding-bottom: 19px;
padding-left: 40px;

border-left: 1px solid #FFFFFF;
    
color: #FFFFFF;
}

.header_li_4:hover{
    background-color: #222F3A;
}

.header_li_5{
font-weight: 400;
font-size: 24px;
line-height: 28px;

padding-top: 26px;
padding-right: 18px;
padding-bottom: 19px;
padding-left: 40px;

border-left: 1px solid #FFFFFF;

color: #FFFFFF;
}

.header_li_5:hover{
    background-color: #222F3A;
}

.header_li_6{
    border-left: 1px solid #FFFFFF;  
}

/* main */
.main{
    margin-top: 48px;
  margin-left: 47px;  
}
.main_div{
width: 885px;
height: 529px;
left: 0px;
top: 0px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    
}

.main_top{   
width: 320px;
height: 381px;
left: 297px;
top: 75px;

margin: 75px 268px 73px 297px;
}

.main_top:hover{
  transform: scale(1.3);
  transition: transform 3s;  
}
.main_paragraf_1{
    width: 885px;
    height: 120px;
    left: 0px;
    top: 566px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.main_paragraf_2{
    width: 885px;
    height: 109px;
    left: 0px;
    top: 720px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
   

    display: flex;
    align-items: center;
    
    color: #2C2C2C;
}

.main_aside{

   display: flex;
   flex-direction: row-reverse;
}

/* aside */
.aside{
    margin-top: 48px;
}

.aside_ul{
width: 344px;
list-style-type: none;
padding: 0px;
margin: 0px;

background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
}

.asid_li_1{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;

    padding-left: 40px;
    padding-top: 27px;
    padding-bottom: 27px;

    color: #485863;
}
.asid_li_1:hover{
    padding-left: 50px;
    color: #000000;
    background: #DBDBDB;
}
.asid_li_2{
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;

padding-left: 40px;
padding-top: 27px;
padding-bottom: 27px;

color: #35444F;

}
.asid_li_2:hover{
    padding-left: 50px;
    color: #000000;
    background: #DBDBDB;
}
.asid_li_3{
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;

padding-left: 40px;
padding-top: 27px;
padding-bottom: 27px;

color: #495863;
}
.asid_li_3:hover{
    padding-left: 50px;
    color: #000000;
    background: #DBDBDB;
}
.asid_li_4{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
   
    padding-left: 40px;
    padding-top: 27px;
    padding-bottom: 27px;
    
    color: #495863; 
}
.asid_li_4:hover{
    padding-left: 50px;
    color: #000000;
    background: #DBDBDB;
}
.asid_li_5{
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
padding-left: 40px;
padding-top: 27px;
padding-bottom: 27px;
color: #495863;
}
.asid_li_5:hover{
    padding-left: 50px;
    color: #000000;
    background: #DBDBDB;
}

/* footer */
.footer{   
height: 69px;
background: rgba(99, 105, 110, 0.48);
}

.footer_div{
   padding-top: 20px;
}

.footer_p{
height: 28px;

font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;

margin: 0px;

display: flex;
align-items: center;

color: #0C1927;
}

.footer_span_1{
    margin-left: 40px;
    
}
.footer_span_2{
    margin-left: 40px;
}
.footer_span_3{
    margin-left: 40px;
}
.footer_span_4{
    margin-left: 40px;}
.footer_span_5{
    margin-left: 40px;
}
.footer_span_6{
    margin-left: 135px;
}

.footer_span_1:hover{
    padding-top: 14px;
    padding-bottom: 13px;
border-bottom: 1px solid #3181A6;
color: #3181A6;
}
.footer_span_2:hover{
    padding-top: 14px;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.footer_span_3:hover{
    padding-top: 14px;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.footer_span_4:hover{
    padding-top: 14px;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.footer_span_5:hover{
    padding-top: 14px;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
